* {
	padding: 0px;
	margin: 0px;
	border: none;
    font-family: 'Futura PT', Arial,Helvetica, sans-serif;
    font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a, a:link, a:visited  {
    text-decoration: none;
    color: #302F2D;
    border-bottom: 0.1rem solid #E6E6E6;
    font-size: 2rem;
}

a:hover  {
    text-decoration: none;
    color:#E65639;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
    color: #302F2D;
}

h1 {
    font-size: 5rem;
    font-weight: 500;
}

h2 {
    font-size: 3.5rem;
    font-weight: 500;
}

h3 {
    font-size: 3rem;
    font-weight: 500;
}

p, .wrap_button {
    font-size: 2rem;
    font-weight: 100;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
    
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
    background-color: #FAFAFA;
    line-height: 3rem;
}

main{
    max-width: 116rem;
    margin: 8rem auto;
}

.description {
    max-width: 76rem;
    margin-bottom: 8rem;
}

.header_1 {
    margin-bottom: 2rem;
}

.p_headline {
    font-size: 2.5rem;
}

.button {
    display: block;
    width: 26rem;
    height: 5rem;
    padding: 1.7rem;
    justify-content: center;
    align-items: center;
    background: #E65639;
    color: var(--white-ffffff, #FFF);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    margin-top: 4rem;
}

/* FORM */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 50%;
}

.close-button {
  float: right;
  width: 3rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal_content_header {
    padding: 4rem;
    border-bottom: #E6E6E6 0.1rem solid;
}

#contact_form {
  padding: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#name_fieldset, #email_fieldset {
    width: 48%;
    min-width: 29rem;
}

legend, label {
    font-size: 2rem;
    margin-bottom: 1rem;
}

input[type=text],[type=email] {
    border: 0.02rem solid #DCDAD8;
    background-color: #FAFAFA;
    height: 6rem;
    padding: 0 2rem;
    margin: 0 2rem 4rem 0;
    width: 100%;
    font-size: 2rem;
  }

#question_fieldset, #personal_info_fieldset {
  display: block;
  width: 100%;
}

textarea {
    border: 0.02rem solid #DCDAD8;
    background-color: #FAFAFA;
    height: 12rem;
    padding: 1.3rem 2rem;
    width: 100%;
    margin-bottom: 4rem;
    font-size: 2rem;
}

input[type=checkbox] {
    border: 0.02rem solid #DCDAD8;
    height: 1.7rem;
    margin-right: 1.5rem;
    vertical-align: middle;
}

.send_button {
  width: 100%;
}

.modal-submitted-content {
    margin: auto;
    height: 54rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.h3-message-sent {
    margin-bottom: 2rem;
}
/* end of form */

.general_contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.contact_head {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.contact_desc {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 4rem;
}

.banner-pic {
    max-width: 100%;
    margin-bottom: 8rem;
}


/* раскрывающиеся списки */
.accordion-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

.np-accordion-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.np-accordion-header:hover {
    cursor: pointer;
}

.js-np-accordion__button{
    font-size: 2rem;
    font-weight: 500;
}

.js-np-accordion__content {
    transition: max-height 0.2s;
    overflow: hidden;
}

.js-np-accordion__content[aria-hidden="true"] {
    max-height: 0;
}

.js-np-accordion__content[aria-hidden="false"] {
    max-height: var(--containerHeight, 1000px);
}

.np-accordion__item {
    border-top: 0.01rem solid #E6E6E6;
    border-bottom: 0.01rem solid #E6E6E6;
}

.np-accordion__item:hover {
    border-top: 0.01rem solid #302F2D;
    border-bottom: 0.01rem solid #302F2D;
}

.np-accordion__item[data-drawer-showing="true"] {
    border-top: 0.01rem solid #302F2D;
    border-bottom: 0.01rem solid #302F2D;
}

.np-accordion-row {
    border-bottom: 0.01rem solid #E6E6E6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.text-accordion-row {
    display: inline-block;
    width: 36rem;
}

.position {
    color: #777;
}