* {
	padding: 0px;
	margin: 0px;
	border: none;
    font-family: 'Futura PT', Arial,Helvetica, sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a, a:link, a:visited  {
    text-decoration: none;
    color: #302F2D;
    border-bottom: 1px solid #E6E6E6;
}

a:hover  {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
    color: #302F2D;
}

h1 {
    font-size: 50px;
    font-weight: 500;
}

h2 {
    font-size: 35px;
    font-weight: 500;
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

p {
    font-size: 20px;
    font-weight: 100;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
    margin-top: 40px;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
    background-color: #FAFAFA;
    line-height: 30px;
}

main{
    max-width: 1160px;
    margin: 80px 60px;
}

.description {
    max-width: 760px;
    margin-bottom: 80px;
}

.header_1 {
    margin-bottom: 20px;
}

.p_headline {
    font-size: 25px;
}

.button {
    display: block;
    width: 260px;
    height: 50px;
    padding: 17px;
    justify-content: center;
    align-items: center;
    background: #E65639;
    color: var(--white-ffffff, #FFF);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

/* FORM */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 72%;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal_content_header {
    padding: 40px;
    border-bottom: #E6E6E6 1px solid;
}

#contact_form {
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#name_fieldset, #email_fieldset {
    width: 48%;
    min-width: 290px;
}

legend, label {
    font-size: 20px;
    margin-bottom: 10px;
}

input[type=text],[type=email] {
    border: 2px solid #DCDAD8;
    background-color: #FAFAFA;
    height: 60px;
    padding: 0 20px;
    margin: 0 20px 40px 0;
    width: 100%;
  }

#question_fieldset, #personal_info_fieldset {
  display: block;
  width: 100%;
}

textarea {
    border: 2px solid #DCDAD8;
    background-color: #FAFAFA;
    height: 120px;
    padding: 13px 20px;
    width: 100%;
    margin-bottom: 40px;
}

input[type=checkbox] {
    border: 2px solid #DCDAD8;
    height: 17px;
    margin-right: 15px;
    vertical-align: middle;
}

.send_button {
  width: 100%;
}

.modal-submitted-content {
    height: 540px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.h3-message-sent {
    margin-bottom: 20px;
}
/* end of form */

.general_contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.contact_head {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.contact_desc {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 40px;
}

.banner-pic {
    max-width: 100%;
    margin-bottom: 80px;
}


/* раскрывающиеся списки */
.js-np-accordion__content {
    transition: max-height 0.2s;
    overflow: hidden;
}

.js-np-accordion__content[aria-hidden="true"] {
    max-height: 0;
}

.js-np-accordion__content[aria-hidden="false"] {
    max-height: var(--containerHeight, 1000px);
}